<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="border-radius:0px;">

  <!-- Indicators 
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
 -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item">
      <img src="/assets/1323.jpg" alt="...">
      <!-- MAIN ITEM -->
      <div class="carousel-caption">
          <h3>Sacramento Regional</h3>
      </div>
    </div>
    <!-- ITEM 2 -->
    <div class="item">
      <img src="/assets/Opening_C" alt="Opening Ceremonies">
      <div class="carousel-caption">
          <h3>Item 2</h3>
      </div>
    </div>
    <!-- ITEM 3 -->
    <div class="item active">
      <img src="/assets/Pit_action" alt="Pit Crew in Action">
      <div class="carousel-caption">
          <h3>Item 3</h3>
      </div>
    </div>
    <!-- ITEM 4 -->
    <div class="item">
      <img src="/assets/Bird_match" alt="Qualifaction Match">
      <div class="carousel-caption">
          <h3>Item 4</h3>
      </div>
    </div>
  </div>
 
  <!-- Carousel BEGIN -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
  </a>
</div> <!-- Carousel END -->

<!-- BODY 1 -->
<div class="panel panel-default" style="border-radius:0px; margin-top: 10px;">
  <div class="panel-body">
    <h4 class="contentText"><span style="color: black;">Team 841 </span><span style="color: #7f8c8d;">is a high school robotics team from </span><span style="color: black;">Richmond, California. </span><span style="color: #7f8c8d;">Founded in 2002, </span><span style="color: black;">The BioMechs are one of the most veteran teams in the East Bay</span>.</h4>
  </div>
</div>
<!-- BODY 2 -->
<div class="carousel-inner" style="width:90%; display:inline-block; margin-left:5%; margin-top: 5px;">
  		<div class="center-text" style=" padding-top: 20px;">
  			<h4>Lorem ipsum dolor sit amet, probo Lorem ipsum dolor sit amet, probo. Lorem ipsum dolor sit amet, probo Lorem ipsum dolor sit amet, probo</h4>
  		</div>
</div>
<!-- BODY 3 -->
<div class="panel panel-default" style="border-radius:0px; margin-top: 20px;">
  <div class="panel-body" style="margin-right:150px; margin-left:25px;">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="http://team841.com/sponsor/files/page9-rhssealoriginal.jpg" alt="RHS Logo" style="width:125px; margin-right:100px;">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading" style="margin-top: 20px;">Media heading</h4>
        <p> Lorem ipsum dolor sit amet, probo Lorem ipsum dolor sit amet, probo Lorem ipsum dolor sit amet, probo Lorem ipsum dolor sit amet, probo</p>
      </div>
    </div>
  </div>
</div>


